<div id="tutoriais">
  <h1> Busca Estendida </h1>

  <h5> Adicionando uma busca estendida </h5>

  <p> Para adicionar uma busca estendida basta clicar na aba "adicionar item", na parte superior direita da página principal e
    escolher o item 'busca estendida'. </p>

  <img src="<%= url_imagem("adicionarbusca.jpg")%>" alt="adicionando busca" />

  <h5> Adicionando sua busca estendida </h5>

  <p> Nesta página o usuário poderá dar a sua busca um título e uma descrição. O título é obrigatório. </p>
  <p>
    Logo abaixo, o usuário terá a opção de limitar os resultados que serão mostrados na página da busca estendida. Logo após,
    o usuário definirá a quantidade de itens que aparecerão.
  </p>

  <img src="<%= url_imagem("editarbusca.jpg")%>" alt="editando a busca" />

  <p>
    Após, existe a opção de exibir os resultados em tabela. Marcando esta opção, o usuário colocará os campos da tabela. Para
    adicionar um campo na tabela, basta escolher o campo desejado e clicar 2 vezes nele, ou selecioná-lo com um clique e
    clicar no botão “>>" ao lado. Para retirar um campo, basta repetir os procedimentos acima, porém na janela ao lado.
  </p>

  <img src="<%= url_imagem("itens_da_coluna.jpg")%>" alt="selecionando itens das coluna" />

  <p>
    Terminada as configurações, basta clicar no botão "salvar" e o usuário será redirecionado para uma página onde aparecerão
    os resultados da busca.
  </p>

  <img src="<%= url_imagem("visualizacao_busca.jpg")%>" alt="tela de visualização da busca estendida" />

  <h5> Adicionando um Critério </h5>

  <p>
    Após o termino da edição da busca estendida, uma tela aparecerá, porém nenhum item será retornado, porque não foi
    definido os critérios da busca. Para defini-los, basta clicar na aba critério e uma página aparecerá para que possa ser
    acrescentado critérios para a busca.
  </p>

  <p>
    Para adicionar um critério, primeiro, o usuário terá de definir qual campo irá pesquisar (Ex.: Título) e depois colocar
    pelo que procurar (Ex.: Texto). Feito isso, basta clicar no botão "Adicionar Critério".
  </p>

  <img src="<%= url_imagem("adicionando_criterio.jpg")%>" alt="adicionando critério" />

  <p> Após fazer isso, uma tabela aparecerá no topo da página. Nela existem 2 colunas, "Campo" e "Detalhes do Critério". </p>
  <p>
    Na primeira coluna fica o campo selecionado anteriormente. Na segunda coluna, existe um campo para que se digite o valor
    desejado para a busca. Feito isso, basta clicar no botão 'salvar'.
  </p>
  <p> Caso queira adicionar outro critério, basta seguir os passos descritos acima. </p>

  <img src="<%= url_imagem("criterio_adicionado.jpg")%>" alt="critério adicionado" />

  <p>
    Após ter adicionado todos os critérios, o usuário poderá definir como deseja ordenar os resultados da sua busca (Ex.:
    Tipo do Item). E também, existe a opção de apresentar os item em ordem inversa. Tendo definido todas as opções, basta
    clicar no botão 'salvar'.
  </p>

  <img src="<%= url_imagem("usando_busca_estendida.jpg")%>" alt="Ordem de classificação" />

  <h5> Buscando Critério </h5>

  <p>
    Após o usuário salvar suas configurações, ele clica na aba visão para realizar sua busca com os critérios definidos. Para
    executar a busca, clique no botão "search".
  </p>

  <img src="<%= url_imagem("buscando_criterio.jpg")%>" alt="buscando um critério" />
</div>