= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.inputs "Editar #{resource_name.to_s.humanize}" do
    = f.input :email, required: false, label: 'E-mail'
    = f.input :password, label: 'Nova senha',
      hint: 'Deixe em branco, caso não queira mudar'
    = f.input :password_confirmation, label: 'Confirmação da senha'
    = f.input :current_password, label: 'Senha atual',
      hint: 'Precisamos da sua senha atual para atualizar os campos'
    = f.input :instituicao, required: false, label: 'Instituição'
    = f.input :campus, required: false, label: 'Campos'

  = f.buttons do
    = f.submit 'Atualizar'

= render 'links'

