= semantic_form_for @usuario do |f|
  = f.inputs 'Registro de Usuário' do
    = f.input :nome_completo, label: 'Nome Completo'
    = f.input :email, label: 'E-mail'
    = f.input :password, label: 'Senha'
    = f.input :password_confirmation, label: 'Confirmação de Senha'
    = label_tag(:instituicao, 'Instituição')
    = select_tag(:instituicao, options_for_select(Instituicao.all.map {|instituicao| [instituicao.nome, instituicao.id] }), class: "instituicoes")
    = f.input :campus, as: :select, input_html: { class: "campus" },
      collection: Instituicao.first.campus.map {|campus| [campus.nome, campus.id] },
      prompt: false, label: 'Campus'
  = f.buttons do
    = f.submit 'Registrar'

= render 'links'
