= semantic_form_for @usuario do |f|
  = f.inputs 'Registro de Usuário' do
    = f.input :nome_completo, label: 'Nome Completo'
    = f.input :email, label: 'E-mail'
    = f.input :password, label: 'Senha'
    = f.input :password_confirmation, label: 'Confirmação de Senha'
    = f.input :instituicao, label: 'Instituição'
    = f.input :campus, label: 'Campus'

  = f.buttons do
    = f.submit 'Registrar'

= render 'links'
