#visao_cesta
  %h3 Cesta de Grãos
  - if @cesta.blank?
    %p Não há nenhum grão na cesta.
  - else
    #items
      - @cesta.map {|referencia_id| Referencia.find(referencia_id).referenciavel }.each do |grao|
        .item
          = link_to grao.key, grao_path(grao)
          = grao.tipo_humanizado
          = "#{grao.created_at.strftime('%d/%m/%Y')}"
          = link_to 'Remover', remover_da_cesta_grao_path(grao), method: :delete,
              remote: true
  = link_to 'baixar conteudo da cesta', '/cesta/baixar_conteudo'
