%h1{ id: 'titulo-grao' }
  = @grao.titulo

.grao
  - if @grao.video?
    = render 'graos/show_video'
  - elsif @grao.tipo == 'files'
    = render 'graos/show_tabela'
  - else
    = render 'graos/show_imagem'

= button_to "Download" , grao_baixar_grao_path(@grao), method: :get
= button_to 'Adicionar à Cesta de Grãos', adicionar_a_cesta_grao_path(@grao), method: :put, remote: true, style: 'width:200px'
- if current_usuario
  = button_to "Adicionar à Estante", favoritar_grao_path(@grao), method: :put, style: 'width:150px'
