%h1{ id: 'titulo-grao' }
  = @grao.titulo

.grao
  Tabela originada da página X do conteúdo
  %p
.aba
  %b
    Conteudo:
  %br
    = @grao.conteudo.titulo
  %br
  - if @grao.tipo == 'files'
    .grao_arquivo
      Atenção: as tabelas poderão ser apresentadas de forma parcial devido à limitações de layout.
      = tabela_grao(@grao)
  - else
    .imagem
      %img{src: "data:image/xyz;base64,#{@grao.conteudo_base64}"}
  %p

= link_to "Download" , grao_baixar_grao_path(@grao)
%br
= link_to 'Adicionar à Cesta de Grãos', adicionar_a_cesta_grao_path(@grao), method: :put, remote: true
- if current_usuario
  = link_to "Adicionar à Estante", favoritar_grao_path(@grao), method: :put
