%h1{ id: 'titulo-grao' }
  = @grao.titulo

.grao_arquivo
  Tabela originada da página X do conteúdo
  %br
  Conteudo:
  %br
    = @grao.conteudo.titulo
  = tabela_grao(@grao)
  = link_to "Download" , grao_baixar_grao_path(@grao)
  = link_to 'Adicionar à cesta', adicionar_a_cesta_grao_path(@grao), method: :put, remote: true
  = link_to "Adicionar à estante", favoritar_grao_path(@grao), method: :put