= semantic_form_for @periodico_tecnico_cientifico do |f|
  = render 'conteudos/dados_basicos', :f => f
  = f.inputs 'Publicação' do
    = f.input :editora, hint: ''
    = f.input :local_publicacao, label: 'Local da publicação'
  = f.input :ano_primeiro_volume, label: 'Ano do primeiro volume'
  = f.input :ano_ultimo_volume, label: 'Ano do último volume'

  = f.buttons do
    = f.submit 'Salvar'
