= render 'conteudos/show_dados_basicos', conteudo: @periodico_tecnico_cientifico


%fieldset
  %legend Publicação
  %p
    Editora:
    = @periodico_tecnico_cientifico.editora
  %p
    Local:
    = @periodico_tecnico_cientifico.local_publicacao

%p
  Ano do primeiro volume:
  = @periodico_tecnico_cientifico.ano_primeiro_volume

%p
  Ano do último volume:
  = @periodico_tecnico_cientifico.ano_ultimo_volume
