= semantic_form_for @objeto_de_aprendizagem do |f|
  = render 'conteudos/dados_basicos', :f => f
  = f.input :palavras_chave, label: 'Palavras-chave',
      hint: 'Palavras-chave do documento, separadas por vírgula'
  = f.input :tempo_aprendizagem, label: 'Tempo de aprendizagem típico',
      hint: 'Tempo típico para uma audiência típica lidar com o objeto de aprendizagem'
  %table
    %tr
      = label_tag(:eixos_tematicos, 'Eixos temáticos')
      %td
        = select_tag(:eixos_tematicos, options_for_select(EixoTematico.all.map {|eixo| [eixo.nome, eixo.id] }), 
          class: "eixos_tematicos")
        = f.input :cursos, :as => :select, input_html: { class: "cursos" },
          collection: EixoTematico.first.cursos.map {|curso| [curso.nome, curso.id]},
          prompt: false, label: 'Cursos'
      %td
        %input{:type => 'button', :value => '>', :id => 'to2'}
        %input{:type => 'button', :value => '<', :id => 'to1'}
        %input{:type => 'button', :value => '>>', :id => 'allTo2'}
        %input{:type => 'button', :value => '<<', :id => 'allTo1'}
      %td
        %select{:id => 'curso',:multiple => 'multiple'}
  = f.input :novas_tags
  = f.input :idioma, :member_label => :descricao
  = f.submit 'Salvar'
