= render 'conteudos/show_dados_basicos', conteudo: @objeto_de_aprendizagem

%p
  Palavras-chave:
  = @objeto_de_aprendizagem.palavras_chave
%p
  Tempo de aprendizagem típico:
  = @objeto_de_aprendizagem.tempo_aprendizagem
%p
  Eixos temáticos:
  = @objeto_de_aprendizagem.nomes_dos_eixos_tematicos
%p
  Cursos selecionados:
  = @objeto_de_aprendizagem.nome_dos_cursos
%p
  Novas tags:
  = @objeto_de_aprendizagem.nomes_das_novas_tags
%p
  Idioma:
  = @objeto_de_aprendizagem.descricao_idioma
