- if can? :submeter, conteudo and conteudo.editavel?
  - if conteudo.permite_extracao_de_metadados?
    = button_to 'Submeter', pre_submeter_conteudo_path(conteudo), method: :put
  - else
    = button_to 'Submeter', submeter_conteudo_path(conteudo), method: :put
- if can? :aprovar, conteudo and conteudo.pendente?
  = button_to 'Aprovar', aprovar_conteudo_path(conteudo), method: :put
- if can? :recolher, conteudo
  = button_to 'Recolher', recolher_conteudo_path(conteudo), method: :put
- if can? :devolver, conteudo
  = button_to 'Devolver', devolver_conteudo_path(conteudo), method: :put
- if conteudo.can_retornar_para_revisao? && can?(:retornar_para_revisao, conteudo)
  = button_to 'Retornar para revisão', retornar_para_revisao_conteudo_path, method: :put
- if can? :edit, @conteudo
  = button_to "Editar", edit_conteudo_path(@conteudo), method: 'get'
- if can? :destroy, @conteudo
  = button_to "Excluir", conteudo_path(@conteudo), method: 'delete'
