= f.input :titulo, label: 'Título'
= f.input :arquivo
= f.input :link
= f.input :grande_area_de_conhecimento, label: 'Grande Área de Conhecimento'
= f.input :area_de_conhecimento, label: 'Área de Conhecimento'
#autores
  = f.semantic_fields_for :autores do |autor|
    = render 'conteudos/autor_fields', :f => autor
  .links
    = link_to_add_association 'Adicionar autor', f, :autores
= f.input :campus, label: 'Campus da Instituição do Usuário'
= f.input :resumo
= f.input :direitos
