= semantic_form_for @conteudo, url: conteudos_path(tipo: @conteudo.nome_como_simbolo) do |f|
  = render 'conteudos/dados_basicos', :f => f
  %br
  %fieldset{:id => "dados_complementares"}
    %legend
      Dados Complementares
    = f.input :subtitulo, label: 'Subtítulo'
    = f.input :nome_periodico, label: 'Nome',
      hint: 'Nome do periódico no qual o artigo foi publicado'
    = f.input :editora,
      hint: 'Uma organização que coordena a publicação dos anais do evento'
    = f.input :fasciculo, label: 'Fascículo'
    = f.input :volume_publicacao, label: 'Volume',
        hint: 'Volume da publicação do artigo'
    = f.input :data_publicacao_br, as: 'string', label: 'Data',
        hint: 'Data de publicação do artigo'
    = f.input :local_publicacao, label: 'Local'
    = f.input :pagina_inicial, label: 'Página inicial da publicação',
        hint: 'Página inicial da publicação do artigo'
    = f.input :pagina_final, label: 'Página final da publicação',
        hint: 'Página final da publicação do artigo'
  = f.submit 'Salvar'
