= render 'conteudos/show_dados_basicos', conteudo: @conteudo

%p
%b
  Editora
  %br
= @conteudo.editora.blank? ? "Não informado" : @conteudo.editora

%p
%b
  Ano do Primeiro Volume:
  %br
= @conteudo.ano_primeiro_volume.blank? ? "Não informado" : @conteudo.ano_primeiro_volume

%p
%b
  Ano do Último Volume: 
  %br
= @conteudo.ano_ultimo_volume.blank? ? "Não informado" : @conteudo.ano_ultimo_volume

%p
%b
  Local da Publicação:
  %br
= @conteudo.local_publicacao
