= render 'conteudos/show_dados_basicos', conteudo: @conteudo

%p
%b
  Subtítulo:
  %br
= @conteudo.subtitulo.blank? ? "Não informado" : @conteudo.subtitulo

%p
%b
  Tradução:
  %br
= @conteudo.traducao ? 'Sim' : 'Não'

%p
%b
  Número da Edição:
  %br
= @conteudo.numero_edicao.blank? ? "Não informado" : @conteudo.numero_edicao

%p
%b
  Local da Publicação:
  %br
= @conteudo.local_publicacao.blank? ? "Não informado" : @conteudo.local_publicacao

%p
%b
  Editora:
  %br
= @conteudo.editora.blank? ? "Não informado" : @conteudo.editora

%p
%b
  Ano de Publicação:
  %br
= @conteudo.ano_publicacao.blank? ? "Não informado" : @conteudo.ano_publicacao

%p
%b
  Número de Páginas:
  %br
= @conteudo.numero_paginas.blank? ? "Não informado" : @conteudo.numero_paginas
