- if @conteudo.arquivo and @conteudo.arquivo.video?
  = render 'conteudos/show_video_player'

= render 'conteudos/show_dados_basicos', conteudo: @conteudo

%p
%b
  Palavras-chave:
  %br
= @conteudo.palavras_chave.blank? ? "Não informado" : @conteudo.palavras_chave

%p
%b
  Tempo de aprendizagem típico:
  %br
= @conteudo.tempo_aprendizagem.blank? ? "Não informado" : @conteudo.tempo_aprendizagem

%p
%b
  Eixos temáticos:
  %br
= @conteudo.nomes_dos_eixos_tematicos

%p
%b
  Cursos selecionados:
  %br
= @conteudo.nome_dos_cursos

%p
%b
  Novas tags:
  %br
= @conteudo.nomes_das_novas_tags.blank? ? "Não informado" : @conteudo.nomes_das_novas_tags

%p
%b
  Idioma:
  %br
= @conteudo.descricao_idioma.blank? ? "Não informado" : @conteudo.descricao_idioma
