%p
  Título:
  = conteudo.titulo
%p
  Arquivo:
  = conteudo.arquivo
%p
  Link:
  = conteudo.link
%p
  Grande Área de Conhecimento:
  = conteudo.area
%p
  Área de Conhecimento:
  = conteudo.sub_area
- conteudo.autores.each do |autor|
  %p
    Autor:
    = autor.nome
  %p
    Curriculum Lattes:
    = autor.lattes
%p
  Campus:
  = conteudo.campus
%p
  Resumo:
  = conteudo.resumo
%p
  Direitos:
  = conteudo.direitos
