%p
%b
  Arquivo:
  %br
= @conteudo.arquivo.nil? ? "Não informado" : @conteudo.arquivo.nome

%p
%b
  Link para o arquivo:
  %br
= conteudo.link.blank? ? "Não informado" : conteudo.link

%p
%b
  Grande Área do Conhecimento:
  %br
= conteudo.area

%p
%b
  Área do Conhecimento:
  %br
= conteudo.sub_area

%p
%b
  Autor(es):
  %br
  %br

%table{ border: '1', id: 'autores-conteudo' }
  %thead
    %tr
      %th Autor
      %th Curriculum Lattes
    %tbody
      - conteudo.autores.each do |autor|
        %tr
          %td
            = autor.nome
          %td
            = link_to autor.lattes, autor.lattes
%p
%b
  Instituição:
  %br
= conteudo.campus.instituicao

%p
%b
  Campus:
  %br
= conteudo.campus
