%h1{ id: 'titulo-conteudo' }
  = @conteudo.titulo
%br

#tipo_de_conteudo
  = @conteudo.class.nome_humanizado
%br

%b
  Resumo:
%br
  %p{ id: 'resumo-conteudo' }
    = @conteudo.resumo.blank? ? "Não informado" : @conteudo.resumo

%nav{ id: 'menu_abas'}
  %ul
    %li{ class: 'sel_aba', data: { padrao: '' }}
      %a{:href=>"#metadados"} Metadados

    - if @conteudo.graos_imagem.present?
      %li{ class: 'sel_aba'}
        %a{:href=>"#imagens"} Imagens

    - if @conteudo.graos_arquivo.present?
      %li{ class: 'sel_aba'}
        %a{:href=>"#tabelas"} Tabelas

    - if @conteudo.graos_video.present?
      %li{ class: 'sel_aba'}
        %a{:href=>"#videos"} Grãos Multimídia

#metadados.aba
  = render "metadados_#{@conteudo.nome_como_simbolo}"
  %p
  %b
    Direitos:
  %br
  = @conteudo.direitos.blank? ? "Não informado" : @conteudo.direitos

-if @conteudo.graos_imagem.present?
  #imagens.aba
    = render 'conteudos/graos_imagem', graos: @conteudo.graos_imagem
    %span.clear

- if @conteudo.graos_arquivo.present?
  #tabelas.aba
    = render 'conteudos/graos_arquivo', graos: @conteudo.graos_arquivo
- if @conteudo.graos_video.present?
  #videos.aba
    %b
    - if @conteudo.grao_audio[0]["key"] != nil
      Áudio:
      = render 'conteudos/show_audio_player'
    %br
      %b
        Vídeos:
    = render 'conteudos/graos_videos', thumbnails: @conteudo.graos_imagem, videos: @conteudo.graos_video
    %span.clear

- if current_usuario
  - unless current_usuario == @conteudo.contribuidor
    - if current_usuario.favorito? @conteudo.referencia
      = button_to 'Remover favorito', remover_favorito_conteudo_path(@conteudo), method: :put
    - else
      = button_to 'Favoritar', favoritar_conteudo_path(@conteudo), method: :put

= render 'conteudos/acoes', :conteudo => @conteudo
