%nav{ id: 'menu_abas'}
  %ul
    %li{ class: 'sel_aba', data: { padrao: '' }}
      %a{:href=>"#metadados"} Metadados

    - if @conteudo.graos_imagem.present?
      %li{ class: 'sel_aba'}
        %a{:href=>"#imagens"} Imagens

    - if @conteudo.graos_arquivo.present?
      %li{ class: 'sel_aba'}
        %a{:href=>"#tabelas"} Tabelas

#metadados.aba
  = render "metadados_#{@conteudo.nome_como_simbolo}"

-if @conteudo.graos_imagem.present?
  #imagens.aba
    = render 'conteudos/graos_imagem', graos: @conteudo.graos_imagem
    %span.clear

- if @conteudo.graos_arquivo.present?
  #tabelas.aba
    = render 'conteudos/graos_arquivo', graos: @conteudo.graos_arquivo

= button_to "Editar", edit_conteudo_path(@conteudo), method: 'get'
%br
= render 'conteudos/acoes', :conteudo => @conteudo
