%h1{ id: 'titulo-conteudo' }
  = @conteudo.titulo

%b
  Resumo:
%br
  %p{ id: 'resumo-conteudo' }
    = @conteudo.resumo.blank? ? "Não informado" : @conteudo.resumo

%nav{ id: 'menu_abas'}
  %ul
    %li{ class: 'sel_aba', data: { padrao: '' }}
      %a{:href=>"#metadados"} Metadados

    - if @conteudo.graos_imagem.present?
      %li{ class: 'sel_aba'}
        %a{:href=>"#imagens"} Imagens

    - if @conteudo.graos_arquivo.present?
      %li{ class: 'sel_aba'}
        %a{:href=>"#tabelas"} Tabelas

#metadados.aba
  = render "metadados_#{@conteudo.nome_como_simbolo}"
  %p
  %b
    Direitos:
  %br
  = @conteudo.direitos.blank? ? "Não informado" : @conteudo.direitos

-if @conteudo.graos_imagem.present?
  #imagens.aba
    = render 'conteudos/graos_imagem', graos: @conteudo.graos_imagem
    %span.clear

- if @conteudo.graos_arquivo.present?
  #tabelas.aba
    = render 'conteudos/graos_arquivo', graos: @conteudo.graos_arquivo

- if current_usuario
  - if current_usuario.favorito? @conteudo.referencia
    = link_to 'Remover favorito', remover_favorito_conteudo_path(@conteudo), method: :put
  - else
    = link_to 'Favoritar', favoritar_conteudo_path(@conteudo), method: :put

= button_to "Editar", edit_conteudo_path(@conteudo), method: 'get'
- if can? :destroy, @conteudo
  - if @conteudo.editavel?
    = button_to "Excluir", conteudo_path(@conteudo), method: 'delete'
- if @conteudo.publicado?
  = link_to "Download" , conteudo_baixar_conteudo_path(@conteudo)
= render 'conteudos/acoes', :conteudo => @conteudo
