<div id="tutoriais">
  <h4> Salvando Buscas </h4>
  <span class="dica">
    Aviso: Esta é a visão de impressão com todas as páginas do tutorial em uma página. <%= link_to "A versão
      paginada está disponível aqui", url_tutorial("salvando-buscas")%>, se você preferir esta.
  </span>
  <br /><br />
  <span class="dica">
    A biblioteca digital permite salvar suas buscas para que você possa reutilizar os resultados futuramente. Entenda
    como salvar-los e reutiliza-los.
  </span>
  <h4> Buscando no Acervo </h4>
  <span class="dica"> Este tutorial ensina como realizar buscas no acervo da Biblioteca Digital. </span>

  <p>
    Quando o usuário deseja encontrar algo no acervo multimídia do portal, basta que ele digite a palavra no campo
    de busca no topo da página.
  </p>

  <img src="<%= url_imagem("busca_rapida.jpg")%>" alt="buscando no acervo" />

  <h4> Resultados da Busca </h4>
  <span class="dica"> Buscando no acervo e visualizando os resultados. </span>

  <p>
    Após o clique no botão "Buscar", o usuário será redirecionado para uma página com os itens encontrados no site.
    Abaixo do campo de busca, uma lista de ações aparecerá.
  </p>

  <img src="<%= url_imagem("resultados_busca.jpg")%>" alt="resultados da busca" />

  <p>
    Clicando no segundo item desta lista , “Salvar Busca”, ele poderá salvar a busca, colocando um título para ela,
    podendo utiliza-la depois, poupando o trabalho de procurar pelos mesmo item várias vezes.
  </p>

  <p> Após clicar em "Salvar Busca", ocorrerá um redirecionamento para outra página. </p>

  <h4> Salvando a Busca </h4>
  <span class="dica"> Salvando uma busca para futuras consultas. </span>

  <p> Nesta página o usuário poderá dar a sua busca um título e uma descrição. O título é obrigatório. Logo abaixo do campo de descrição, ele também pode escrever um texto que aparecerá na página da sua busca salva. </p>

  <img src="<%= url_imagem("adicionando_busca.jpg")%>" alt="adicionando um busca" />

  <p>
    Logo abaixo, o usuário terá a opção de limitar os resultados que serão mostrados na página da busca salva.
    Abaixo, o usuário define a quantidade de itens que aparecerão.
  </p>

  <p>
    Após esta etapa, existe a opção de exibir os resultados em tabela. Marcando está opção, o usuário colocará
    abaixo os campos da tabela. Para adicionar um campo na tabela, basta escolher o campo desejado e clicar 2 vezes
    nele, ou selecioná-lo e clicar no botão “>>” ao lado. Para retirar um campo, basta repetir os procedimentos
    acima, porém na janela ao lado
  </p>

  <p>
    Terminada está configuração, o usuário terá a opção de receber um aviso por email, cada vez que um item novo
    aparecer na sua pesquisa.
  </p>

  <img src="<%= url_imagem("definindo_criterios.jpg")%>" alt="definindo critérios" />

  <p>
    Terminado suas configurações, basta clicar no botão "salvar" e o usuário será redirecionado para uma página
    onde aparecerão os resultados da sua busca.
  </p>

  <img src="<%= url_imagem("tela_resultados.jpg")%>" alt="tela de resultados" />
</div>