= semantic_form_for @trabalho_de_obtencao_de_grau do |f|
  = render 'conteudos/dados_basicos', :f => f
  = f.input :subtitulo, label: 'Subtítulo'

  = f.inputs 'Dados do trabalho' do
    = f.input :numero_paginas, label: 'Número de páginas'
    = f.input :instituicao, label: 'Instituição',
      hint: 'Instituição concedente do grau associado ao trabalho'

  = f.inputs 'Defesa' do
    = f.input :data_defesa_br, as: 'string', label: 'Data da Defesa',
      hint: 'Data na qual o trabalho foi apresentado'
    = f.input :local_defesa, label: 'Local de Defesa',
      hint: 'Cidade onde o trabalho foi defendido'

  = f.buttons do
    = f.submit 'Salvar'
