= semantic_form_for @relatorio do |f|
  = render 'conteudos/dados_basicos', :f => f
  = f.input :local_publicacao, label: 'Local da publicação'
  = f.input :ano_publicacao, label: 'Ano'
  = f.input :numero_paginas, label: 'Número de páginas'
  = f.submit 'Salvar'

