<div id="tutoriais">
  <h1> Entendendo o editor de texto da Biblioteca Digital </h1>
  <span class="descricao">
    Neste tutorial o usuário aprenderá como utilizar o editor de texto usado em algumas páginas do site da Biblioteca
    Dogital.
  </span>
  <br />
  <%= link_to "Todo o conteúdo em uma página (útil para impressão, modo de apresentação, etc.)",
      url_para("tutorial-todas-as-paginas") %>
  <br /><br />
  <%= link_to "Introdução", url_para("introducao") %>
  <span class="link_descricao">
     Conhecendo o editor de texto utilizado na Biblioteca Digital.
  </span>
  <br />
  <%= link_to "Interface do Editor de Texto", url_para("interface-do-kupu") %>
  <span class="link_descricao">
     O usuário conhecerá a interface do editor de texto utilizado na Biblioteca Digital.
  </span>
  <br />
  <%= link_to "Adicionando uma imagem no texto", url_para("adicionando-uma-imagem-no-kupu") %>
  <span class="link_descricao">
     O usuário aprenderá a adicionar uma imagem no editor de texto usado na Biblioteca Digital.
  </span>
  <br />
  <%= link_to "Inserindo link no texto", url_para("inserindo-link-no-texto") %>
  <span class="link_descricao">
     O usuário aprenderá a inserir link interno e externo no texto
  </span>
</div>