<div id="tutoriais">
 <h1> Incluindo novos documentos no acervo </h1>
  <span class="descricao">
    Este documento descreve como adicionar itens no acervo da biblioteca digital.
  </span>
  <br />
  <%= link_to "Todo o conteúdo em uma página (útil para impressão, modo de apresentação, etc.)",
      url_para("tutorial-todas-as-paginas") %>
  <br /><br />
  <%= link_to "Introdução", url_para("introducao") %>
  <span class="link_descricao">
    A biblioteca digital permite a inclusão de um conjunto vasto de tipos de arquivos e de conteúdo. Entenda como
    adicioná-los, editá-los e removê-los.
  </span>
  <br />
  <%= link_to "Incluindo um documento", url_para("incluindo-um-documento") %>
  <span class="link_descricao"> Descreve como incluir um documento no portal. </span>
  <br />
  <%= link_to "Adicionando um vídeo", url_para("adicionando-um-video") %>
  <span class="link_descricao"> Descreve o procedimento de adição de um vídeo na biblioteca. </span>
  <br />
  <%= link_to "Adicionando um arquivo de áudio", url_para("adicionando-um-arquivo-de-audio") %>
  <span class="link_descricao"> Incluindo um arquivo de áudio no acervo. </span>
  <br />
  <%= link_to "Adicionando um objeto de aprendizagem", url_para("adicionando-um-objeto-de-aprendizado") %>
  <span class="link_descricao"> Incluindo itens que podem ser reutilizados em outros documentos. </span>
  <br />
  <%= link_to "Incluindo um artigo", url_para("incluindo-um-artigo") %>
  <span class="link_descricao"> Aprendendo a incluir um artigo no Portal </span>
  <br />
  <%= link_to "Adicionando uma imagem ao acervo", url_para("adcionando-uma-imagem") %>
  <span class="link_descricao"> aprendendo a incluir uma imagem no portal </span>
  <br />
  <%= link_to "Adicionando um trabalho de conclusão de curso", url_para("adicionando-um-trabalho-de-conclusao-de-curso") %>
  <span class="link_descricao">
    aprendendo como incluir um Trabalho de Conclusão de Curso no portal.
  </span>
</div>