<div id="tutoriais">
  <h1> Usando o Carrinho de Grãos </h1>
  <span class="descricao">
    Usando o carrinho de grãos para gerar documento a partir de partes extraídas de outros documentos.
  </span>
  <%= link_to "Todo o conteúdo em uma página (útil para impressão, modo de apresentação, etc.)",
      url_para("tutorial-todas-as-paginas") %>
  <br /><br />
  <%= link_to "Introdução", url_para("introducao") %>
  <span class="link_descricao"> Entendendo o que é o carrinho de grãos </span>
  <br />
  <%= link_to "Adicionando grãos ao carrinho", url_para("adicionando-graos-ao-carrinho") %>
  <span class="link_descricao">
     O usuário aprenderá como adicionar partes de um documento ao carrinho de grãos
  </span>
  <br />
  <%= link_to "Retirarando grãos do carrinho", url_para("retirarando-graos-do-carrinho") %>
  <span class="link_descricao"> O usuário aprenderá como retirar items do carrinho de grãos </span>
  <br />
  <%= link_to "Criando uma página html com os items do carrinho",
      url_para("criando-uma-pagina-html-com-os-items-do-carrinho") %>
  <span class="link_descricao">
    O usuário aprenderá como gerar um html a partir dos grãos que estiverem no carrinho
  </span>
   <br />
  <%= link_to "Criando um documento odt com os items do carrinho",
      url_para("criando-um-documento-odt-com-os-items-do-carrinho") %>
  <span class="link_descricao">
    OO usuário aprenderá como criar um arquivo odt com os grãos que estiverem no carrinho
  </span>
</div>