<div id="tutoriais">
  <h1> Utilizando as Buscas </h1>
  <span class="descricao"> Tutorial de como utilizar a busca por itens do acervo da biblioteca digital </span>

  <br />
  <%= link_to "Todo o conteúdo em uma página (útil para impressão, modo de apresentação, etc.)",
      url_para("tutorial-todas-as-paginas") %>
  <br /><br />

  <%= link_to "Busca Avançada", url_para("busca-avancada") %>
  <span class="link_descricao"> Tutorial de como realizar buscas no portal utilizando diferentes parâmetros
    para refinamento da pesquisa. </span>

  <br />
  <%= link_to "Busca Estendida", url_para("busca-estendida") %>
  <span class="link_descricao">  Tutorial de como utilizar uma busca estendida </span>

  <br />
  <%= link_to "Busca Rápida", url_para("busca-rapida") %>
  <span class="link_descricao"> Tutorial para apresentar a forma mais simples de fazer uma busca no acervo
    da Biblioteca Digital. </span>

  <br />
  <%= link_to "Busca por Letra", url_para("busca-por-letra") %>
  <span class="link_descricao"> Tutorial que apresenta a busca no acervo bibliográfico utilizando a primeira
    letra do título de um conteúdo como critério de refinamento. </span>
</div>


