%h3 Cesta de Grãos
- if @cesta.blank?
  %p Nesta área poderão ser adicionados partes de conteúdos do interesse do usuário para futura utilização.
- else
  #items
    - limitar_para_portlet(@cesta).map { |ref_id| Referencia.referenciavel_por_id_referencia(ref_id) }.each do |grao|
      .item
        = image_tag 'grao/picture.png', width: '14px', height: '14px' if grao.imagem?
        = image_tag 'grao/movie.png', width: '14px', height: '14px' if grao.video?
        = image_tag 'grao/table.png', width: '14px', height: '14px' if grao.arquivo?
        = link_to grao.titulo, grao_path(grao)
        = link_to 'Remover', remover_da_cesta_grao_path(grao), method: :delete, remote: true

  = link_to image_tag('cesta/baixar_carrinho.png', width: '18px', height: '18px', title: 'baixar conteúdo da cesta'),
    '/cesta/baixar_conteudo', id: 'baixar_conteudo_cesta'
  = link_to image_tag('cesta/baixar_carrinho.png', width: '18px', height: '18px', title:'baixar conteúdo da cesta em odt'),
    '/cesta/baixar_conteudo_em_odt', id: 'baixar_conteudo_cesta_odt'
  - if current_usuario
    = link_to image_tag('cesta/mover_para_estante.gif', width: '18px', height: '18px', title: "mover para estante"),
      favoritar_graos_path, id: 'mover_graos_estante'
  %br
  = link_to "Ver todos", cesta_graos_path if mostra_link_ver_todos_para_portlet?(@cesta)
  = link_to "Editar", editor_path(graos: true)
