- if current_usuario.present? && can?(:ter_escrivaninha, current_usuario)
  #escrivaninha.portlet
    %h3 Escrivaninha
    - escrivaninha = current_usuario.escrivaninha
    - limitar_para_portlet(escrivaninha, reverse: true).each do |conteudo|
      .item
        = check_box_tag false
        = link_to conteudo_tag(conteudo), conteudo_path(conteudo)
        - if conteudo.pendente?
          %span.info{ id: "pendente[#{conteudo.id}]" } Pendente
        %br
        %span.info
          = "#{conteudo.created_at.strftime('%d/%m/%Y')}"
    - if escrivaninha.blank?
      %p Não há nenhum conteúdo editável.
    - if mostra_link_ver_todos_para_portlet?(escrivaninha)
      = link_to "Ver todos", escrivaninha_usuario_path(current_usuario) 

