- if current_usuario.present? && can?(:ter_escrivaninha, current_usuario)
  #escrivaninha.portlet
    %h3 Escrivaninha
    - current_usuario.escrivaninha.reverse[0..2].each do |conteudo|
      .item
        = link_to conteudo_tag(conteudo), conteudo_path(conteudo)
        - if conteudo.pendente?
          %span.info{ id: "pendente[#{conteudo.id}]" } Pendente
        %br
        %span.info
          = "#{conteudo.created_at.strftime('%d/%m/%Y')}"
    - if current_usuario.escrivaninha.blank?
      %p Não há nenhum conteúdo editável.
    - else
      = link_to "Ver todos", escrivaninha_usuario_path(current_usuario)

