- if current_usuario.present? && can?(:ter_lista_de_revisao, current_usuario)
  #lista_de_revisao.portlet
    %h3 Lista de Revisão
    - lista_de_revisao = current_usuario.lista_de_revisao
    - if lista_de_revisao.blank?
      %p Não há nenhum conteúdo para revisão.
    - else
      - limitar_para_portlet(lista_de_revisao).each do |conteudo|
        .item
          = check_box_tag false
          = link_to conteudo_tag(conteudo, no_portlet=true), conteudo_path(conteudo)
          %br
          %span.info
            = "#{conteudo.nome_contribuidor} - #{conteudo.created_at.strftime('%d/%m/%Y')}"
      .portlet-info
        = "Total: #{pluralize(lista_de_revisao.count, "item")}"

      - if mostra_link_ver_todos_para_portlet?(lista_de_revisao)
        = link_to "Lista completa para revisão", lista_de_revisao_usuario_path(current_usuario),
          class: 'ver_todos'

