- if current_usuario.present? && can?(:ter_lista_de_revisao, current_usuario)
  #lista_de_revisao.portlet
    %h3 Lista de Revisão
    - lista_de_revisao = current_usuario.lista_de_revisao
    - if lista_de_revisao.blank?
      %p Não há nenhum conteúdo para revisão.
    - else
      - lista_de_revisao[0..(Rails.application.config.limite_de_itens_nos_portlets - 1)].each do |conteudo|
        .item
          = link_to conteudo_tag(conteudo), conteudo_path(conteudo)
          %br
          %span.info
            = "#{conteudo.nome_contribuidor} - #{conteudo.created_at.strftime('%d/%m/%Y')}"
      .portlet-info
        = "Total: #{pluralize(lista_de_revisao.count, "item")}"

      = link_to "Ver todos", lista_de_revisao_usuario_path(current_usuario)

