= render 'conteudos/show_dados_basicos', conteudo: @artigo_de_evento

%p
  Subtítulo:
  = @artigo_de_evento.subtitulo

%fieldset
  %legend Dados do evento
  %p
    Nome:
    = @artigo_de_evento.nome_evento
  %p
    Local:
    = @artigo_de_evento.local_evento
  %p
    Número:
    = @artigo_de_evento.numero_evento
  %p
    Ano:
    = @artigo_de_evento.ano_evento

%fieldset
  %legend Publicação
  %p
    Editora:
    = @artigo_de_evento.editora
  %p
    Ano:
    = @artigo_de_evento.ano_publicacao
  %p
    Local:
    = @artigo_de_evento.local_publicacao
  %p
    Título dos anais:
    = @artigo_de_evento.titulo_anais

%p
  Página inicial do trabalho:
  = @artigo_de_evento.pagina_inicial

%p
  Página final do trabalho:
  = @artigo_de_evento.pagina_final
