%h2 Adicionar Conteúdo

%fieldset{:id => "adicionar_conteudo"}
  %legend Adicionar Conteúdo
  %ul
    - if can? :create, ArtigoDeEvento
      %li
        = link_to image_tag('/assets/artigo.png') + ' Artigo de Evento', new_conteudo_path(tipo: :artigo_de_evento)
    - if can? :create, ArtigoDePeriodico
      %li
        = link_to image_tag('/assets/artigo.png') + ' Artigo de Periódico', new_conteudo_path(tipo: :artigo_de_periodico)
    - if can? :create, Livro
      %li
        = link_to image_tag('/assets/livro.png') + ' Livro', new_conteudo_path(tipo: :livro)
    - if can? :create, ObjetoDeAprendizagem
      %li
        = link_to image_tag('/assets/oa.png') + ' Objeto de Aprendizagem', new_conteudo_path(tipo: :objeto_de_aprendizagem)
    - if can? :create, PeriodicoTecnicoCientifico
      %li
        = link_to image_tag('/assets/periodico.png') + ' Periódico Técnico Científico',
            new_conteudo_path(tipo: :periodico_tecnico_cientifico)
    - if can? :create, Relatorio
      %li
        = link_to image_tag('/assets/relatorio.png') + ' Relatório', new_conteudo_path(tipo: :relatorio)
    - if can? :create, TrabalhoDeObtencaoDeGrau
      %li
        = link_to image_tag('/assets/trabalhodeobtencao.png') + ' Trabalho de Obtenção de Grau',
            new_conteudo_path(tipo: :trabalho_de_obtencao_de_grau)
