
<h1>Estatísticas</h1>

Selecione uma opção de pesquisa:

<div>
  <%= form_tag(estatisticas_path, :method => "get") do %>
    <input name="group" type="radio" id="radio_ano" onchange="ano()"><label for='radio_ano'>Ano</label>
    <input name="group" type="radio" id="radio_mes" onchange="mes()"><label for='radio_mes'>Mês</label>
    <br>
    <%= select_tag "select_ano", options_for_select(anos), disabled: 'true' %>
    <%= select_tag "select_mes", options_for_select(meses), disabled: 'true' %>
    <%= submit_tag("search") %>
  <% end %>

</div>

<% if @estatisticas %>
  <% ano = params['select_ano'] %>
  <% mes = params['select_mes'] %>

  <h2>Estatísticas de acesso em
        <% if ano and mes %>
          <%= meses[mes.to_i-1][0].to_s + " de " + ano %>
        <% else %>
          <%= ano %>
        <% end %>
  </h2>

  <h3>
    Número de usuários cadastrados: <%= @estatisticas.numero_de_usuarios_cadastrados %>
  </h3>

  <h3>
    Por conteúdo individual:
  </h3>
    <%= render 'application/tabela_de_acesso_de_documentos' %>
  <h3>
  <div>
    <div id="cinco_acessos" class="graph"></div>
  </div>
    Por tipo de conteúdo: 
  </h3>
  <table id="tipos_de_conteudo" border = "1px">
  <th> Tipo de conteúdo </th>
  <th> Percentual de acessos </th>
  <% @estatisticas.percentual_de_acessos_por_tipo_de_conteudo.each do |percentual| %>
  <tr>
      <td><%= percentual[0] %></td>
      <td><%= percentual[1].round 2 %> %</td>
  </tr>
  <% end %>
  <div>
    <div id="conteudo" class="graph"></div>
  </div>
  </table>
  <h3>Por subárea do conhecimento</h3>
  <table id="sub_ara_de_conhecimento" border = "1px">
  <th> Sub área do conhecimento </th>
  <th> Percentual de acessos </th>
  <% @estatisticas.percentual_de_acessos_por_subarea_de_conhecimento.each do |percentual| %>
  <tr>
      <td><%= percentual[1] %></td>
      <td><%= percentual[0].round 2 %> %</td>
  </tr>
  <% end %>

  <div>
    <div id="subarea" class="graph"></div>
  </div>
  </table>
  <h2>
    Estatísticas de contribuição em
    <font color="#228B22">
        <% if ano and mes %>
          <%= meses[mes.to_i-1][0].to_s + " de " + ano %>
        <% else %>
          <%= ano %>
        <% end %>
    </font>
  </h2>

  <h3>Instituto</h3>

  <h3>Campus de Instituto</h3>
<% end %>
