<div class="estatisticas">
  <span class="content_title"><h2>Estatísticas do Portal</h2></span>

  <% if @estatisticas %>
    <% ano = params['select_ano'] %>
    <% mes = params['select_mes'] %>

    <span class="section_title">
      <h3>
        Estatísticas Gerais de Acesso
      </h3>
    </span>

    <h3>
      <div id="link_estatisticas_gerais">
        <%= link_to "Por conteúdo individual", por_conteudo_individual_path %><br>
        <%= link_to "Por tipo de conteúdo", por_tipo_de_conteudo_path %><br>
        <%= link_to "Por subárea do conhecimento", por_subarea_do_conhecimento_path %><br>
      </div>
    </h3>

    <hr id="barra_horizontal">

    <span class="section_title">
      <h3>
       Estatísticas de Contribuição em
        <% if ano and mes %>
          <%= meses[mes.to_i-1][0].to_s + " de " + ano %>
        <% else %>
          <%= ano %>
        <% end %>
      </h3>
    </span>

    Selecione um período para as estatísticas:

    <div>
      <br />
      <%= form_tag(estatisticas_path, :method => "get") do %>
        <input name="group" type="radio" id="radio_ano" checked><label for='radio_ano'>Ano</label>
        <input name="group" type="radio" id="radio_mes"><label for='radio_mes'>Mês</label>
        <br />
        <br />
        <%= select_tag "select_ano", options_for_select(anos) %>
        <%= select_tag "select_mes", options_for_select(meses), disabled: 'true' %>
        <%= submit_tag("Pesquisar") %>
      <% end %>
    </div>

    <h3>
      Número de usuários cadastrados: <%= @estatisticas.numero_de_usuarios_cadastrados %>
    </h3>

    <h3>Por instituição:</h3>
    <table class="tabelas_de_estatisticas" id="instituicao">
      <th> Instituição </th>
      <th> Número de documentos </th>
      <% @estatisticas.instituicoes_que_mais_contribuiram.each do |instituicao| %>
        <tr>
          <td><%= instituicao[1] %></td>
          <td><%= instituicao[0] %></td>
        </tr>
      <% end %>
    </table>

    <h3>Por campus de instituição:</h3>
    <table class="tabelas_de_estatisticas" id="campus_de_instituicao">
      <th> Campus </th>
      <th> Número de documentos </th>
      <% @estatisticas.campus_que_mais_contribuiram.each do |instituicao| %>
        <tr>
          <td><%= instituicao[1] %></td>
          <td><%= instituicao[0] %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

