= form_tag "/busca", :method => :get do
  = label_tag :busca, "Busca"
  = text_field_tag :busca, params[:busca]
  = submit_tag "Buscar", name: nil

%ul
  - @conteudos.each do |conteudo|
    %li= link_to conteudo.titulo, __send__("#{conteudo._type}_path", conteudo)
