= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  = f.inputs 'Entrar' do
    = f.input :email, label: 'E-mail'
    = f.input :password, label: 'Senha'

  = f.actions do
    = f.submit "Entrar"

= render "links"
