= semantic_form_for @busca do |f|
  - unless @busca.new_record?
    = f.input :busca, label: 'Busca'
  = f.input :titulo, label: 'Título'
  = f.input :descricao, :type => "textbox" , label: 'Descriçao'
  = f.submit 'Salvar'
