= form_tag "/buscas", :method => :get do
  = label_tag :busca, "Busca"
  = text_field_tag :busca, params[:busca]
  = submit_tag "Buscar", name: nil

%ul
  - @conteudos.each do |conteudo|
    %li
      = link_to conteudo.titulo, __send__("#{conteudo.class.name.underscore}_path", conteudo)

= link_to 'Salvar Busca', new_busca_path if current_usuario
