%h2 Busca Avançada
= form_for :parametros, url: busca_avancada_path, method: 'get' do |f|
  = f.label 'Titulo'
  = f.text_field :titulo
  = f.label 'Autor'
  = f.text_field :nome
  = f.label 'Instituição'
  = f.select 'instituicao_nome', options_for_select(['Todas'] + @instituicoes.map(&:nome) )
  = f.label 'Área'
  = f.select 'area_nome', options_for_select(['Todas'] + @areas.map(&:nome) )
  = f.label 'Subárea'
  = f.select 'sub_area_nome', options_for_select(['Todas'] + @sub_areas.map(&:nome) )
  = f.label 'Tipos de conteúdo'
  %ul#tipos_de_conteudo
    - @tipos_conteudo.each do |tipo|
      %li
        %label
          = check_box_tag "parametros[tipos][]", tipo.name.underscore
          = tipo.nome_humanizado
    %li
      %label
        = check_box_tag "parametros[tipos][]", "pronatec"
        = "PRONATEC"
  = label_tag :busca, "Conteúdo (texto integral)"
  = text_field_tag :busca
  = f.submit "Buscar", name: nil
