- if item.is_a? Conteudo
  = link_to conteudo_tag(item), conteudo_path(item)
  %br
- else
  - if item.referenciavel
    - if item.referenciavel.is_a? Grao
      = link_to item.referenciavel.titulo, conteudo_path(item.referenciavel.conteudo)
      = item.referenciavel.tipo_humanizado
    - else
      = link_to conteudo_tag(item.referenciavel), conteudo_path(item.referenciavel)
  - else
    = item.abnt
