- if current_usuario.present? && can?(:ter_estante, current_usuario)
  %h3 Estante
  - current_usuario.estante.each do |conteudo|
    .item
      = link_to conteudo.titulo, conteudo_path(conteudo)
      %span.info
        = "#{conteudo.nome_contribuidor} - #{conteudo.created_at.strftime('%d/%m/%Y')}"
      - if current_usuario.favoritos.include? conteudo
        = link_to 'Remover favorito', remover_favorito_conteudo_path(conteudo), method: :put
      - else
        = link_to 'Favoritar', favoritar_conteudo_path(conteudo), method: :put
  - if current_usuario.estante.blank?
    %p Não há nenhum conteúdo pendente.
