- if current_usuario.present? && can?(:ter_estante, current_usuario)
  %h3 Estante
  - current_usuario.estante.each do |item|
    .item
      - if item.is_a? Grao
        = link_to item.key, conteudo_path(item.conteudo)
        = item.tipo_humanizado
        = "#{item.created_at.strftime('%d/%m/%Y')}"
      - else
        = link_to item.titulo, conteudo_path(item)
        %span.info
          = "#{item.nome_contribuidor} - #{item.created_at.strftime('%d/%m/%Y')}"
        - if current_usuario.conteudos_favoritos.include? item
          = link_to 'Remover favorito', remover_favorito_conteudo_path(item), method: :put
        - else
          = link_to 'Favoritar', favoritar_conteudo_path(item), method: :put
  - if current_usuario.estante.blank?
    %p Não há nenhum conteúdo pendente.
