= form_tag atualizar_papeis_path, method: 'put' do
  %table{ border: '1' }
    %thead
      %td E-mail
      - @papeis.each do |papel|
        %td #{papel.nome}
      %tbody
        - @usuarios.each do |usuario|
          %tr
            %td
              = usuario.nome_completo
              %br
              = usuario.email
              - @papeis.each do |papel|
                %td= check_box_tag "papeis[#{usuario.id}][]", papel.id,
                  usuario.papeis.include?(papel), id: "#{usuario.email}#{[papel.nome]}"

  = submit_tag 'Salvar'
