= form_tag buscar_por_nome_usuarios_path, method: 'get' do
  = label_tag 'buscar_nome', 'Buscar por nome'
  = text_field_tag 'buscar_nome'
  = submit_tag 'Buscar'

- if can? :usuarios_instituicao, current_usuario
  = form_tag usuarios_instituicao_usuarios_path, method: 'get' do
    = label_tag 'usuarios_instituicao', 'Listar usuários do Instituicao'
    = select_tag 'usuarios_instituicao', options_for_select(Instituicao.all.map { |instituicao| [instituicao.nome, instituicao.id] })
    = submit_tag 'Listar'
    %br
    %br
    %br
    %br

= form_tag atualizar_papeis_usuarios_path, method: 'put', :id => 'papeis-usuarios' do
  %table{ border: '1', id: 'usuarios' }
    %thead
      %tr
        %th{:rowspan => "2"} Usuário
        %th{:colspan => "5"} Papéis
        %th{:rowspan => "2"} Limpar<br>Senha
        %th{:rowspan => "2"} Excluir<br>usuário
      %tr
        %th Membro
        %th Contrib.<br>de<br>Conteúdo
        %th Gestor<br>de<br>Conteúdo
        %th Admin.
        %th Admin.<br>de<br>Instituição
    %tbody
      - @usuarios.each do |usuario|
        %tr
          %td{:id => "coluna-nome-autor"}
            %p{:title => usuario.email}
              = usuario.nome_completo
          - Papel.all.each do |papel|
            - if papel.nome == 'admin'
              - if current_usuario.admin?
                %td
                  = check_box_tag "papeis[#{usuario.id}][]", papel.id, usuario.papeis.include?(papel), id: "#{usuario.email}#{[papel.nome]}",
                    class: papel.nome
              - else
                %td
            - else
              %td
                = check_box_tag "papeis[#{usuario.id}][]", papel.id, usuario.papeis.include?(papel), id: "#{usuario.email}#{[papel.nome]}"
          %td
            = check_box_tag '', '', selected = false
          %td
            = check_box_tag "excluir_usuario[]", usuario.id, checked = false, id: "excluir-#{usuario.id}"
  %br
  = submit_tag 'Aplicar'

