= form_tag buscar_por_nome_usuarios_path, method: 'get' do
  = label_tag 'buscar_nome', 'Buscar por nome'
  = text_field_tag 'buscar_nome'
  = submit_tag 'Buscar'

- if current_usuario.admin?
  = form_tag usuarios_instituicao_usuarios_path, method: 'get' do
    = label_tag 'usuarios_instituicao', 'Listar usuários do Instituicao'
    = select_tag 'usuarios_instituicao', options_for_select(Instituicao.all.map { |instituicao| [instituicao.nome, instituicao.id] })
    = submit_tag 'Listar'
    %br
    %br

= form_tag atualizar_papeis_usuarios_path, method: 'put' do
  %table{ border: '1', id: 'usuarios' }
    %thead
      %tr
        %th E-mail
        - Papel.all.each do |papel|
          %th #{papel.nome}
    %tbody
      - @usuarios.each do |usuario|
        %tr
          %td
            = usuario.nome_completo
            %br
            = usuario.email
          - Papel.all.each do |papel|
            %td= check_box_tag "papeis[#{usuario.id}][]", papel.id,
              usuario.papeis.include?(papel), id: "#{usuario.email}#{[papel.nome]}"

  = submit_tag 'Salvar'
