= render 'conteudos/show_dados_basicos', conteudo: @livro

%p
  Subtítulo:
  = @livro.subtitulo
%p
  Tradução:
  = @livro.traducao ? 'Sim' : 'Não'
%p
  Número da Edição:
  = @livro.numero_edicao
%p
  Local da Publicação:
  = @livro.local_publicacao
%p
  Editora:
  = @livro.editora
%p
  Ano de Publicação:
  = @livro.ano_publicacao
%p
  Número de Páginas:
  = @livro.numero_paginas
