<header>
  <div class="barra">
    <div class="barra_governo"></div>
  </div>

  <div class="container-header">
    <a href="/"><h1>Biblioteca Digital da EPCT</h1></a>

    <div class="site_actions">
      <ul>
        <li><%= link_to "Mapa do Site", '#' %></li>
        <li><%= link_to "Acessibilidade", '#' %></li>
        <li><%= link_to "Contato", '#' %></li>
        <% if usuario_signed_in? %>
          <% if current_usuario.admin? %>
            <li><%= link_to "Administração", usuarios_path  %></li>
          <% end %>
          <li><%= link_to "Editar Conta", edit_registration_path(current_usuario) %></li>
          <li><%= link_to "Sair", destroy_usuario_session_path %></li>
        <% else %>
          <li><%= link_to "Acessar", new_usuario_session_path %></li>
          <li><%= link_to "Registrar Usuário", new_usuario_registration_path %></li>
          <span class="clear"></span>
        <% end %>
      </ul>
    </div>
  </div>
</header>
