<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <!--[if lt IE 9]>
    <script src="/assets/html5shiv.js"></script>
  <![endif]-->
  <script defer src="http://sawpf.com/1.0.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container round">
    <div class="navigation">
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/searchbyarea' %>
    </div>
    <div class="content" id="content" accesskey="2">
      <p class="texto-acessibilidade">Início do Conteúdo</p>
      <% if notice %>
        <p id="notice"><span class='tipo'>Aviso</span><%= notice %></p>
      <% end %>
      <% if alert %>
        <p id="alert"><span class='tipo'>Erro</span><%= alert %></p>
      <% end %>
        <div id='breadcrumbs'>
          <%= render_navigation renderer: :breadcrumbs,
            join_with: " &raquo; ", static_leaf: true,
            preceding_text: 'Você está aqui: ' %>
        </div>
      <%= yield %>
      <p class="texto-acessibilidade">Fim do Conteúdo</p>
    </div>
    <div class="portlets">
      <%= render 'portlets/index' %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
